# Orchestrator Engine API-client configuration.
SERVER_URL=@SERVER_URL@
CLIENT_ID=orchestrator-engine
CLIENT_CREDENTIAL=@CLIENT_CREDENTIAL@
ALLOW_INSECURE_HTTP=0
REVIEW_CONCURRENCY=4
COUNCIL_CONCURRENCY=4
POST_PROCESSING_CONCURRENCY=3
GATE_DISPATCH_CONCURRENCY=2
COMPLETION_JUDGE_CONCURRENCY=4
POLL_SECONDS=2
LEASE_SECONDS=120
