# Task Server bootstrap configuration.
LISTEN_URL=@LISTEN_URL@
STORE_PATH=@STORE_PATH@
BACKUP_PATH=@BACKUP_PATH@
AUTH=@AUTH_MODE@
STUDIO_AUTH_TOKEN_FILE=@STUDIO_AUTH_TOKEN_FILE@
ENGINE_AUTH_TOKEN_FILE=@ENGINE_AUTH_TOKEN_FILE@

TaskServer__MinimumLeaseSeconds=30
TaskServer__MaximumLeaseSeconds=600
TaskServer__MaximumEventPayloadBytes=262144
