# Task Server bootstrap configuration.
LISTEN_URL=@LISTEN_URL@
STORE_PATH=@STORE_PATH@
BACKUP_PATH=@BACKUP_PATH@
ARCHIVE_PATH=@ARCHIVE_PATH@
BACKUP_PATH_FULL=@BACKUP_PATH_FULL@
ARCHIVE_S3_ENDPOINT=@ARCHIVE_S3_ENDPOINT@
ARCHIVE_S3_BUCKET=@ARCHIVE_S3_BUCKET@
ARCHIVE_S3_PREFIX=@ARCHIVE_S3_PREFIX@
ARCHIVE_S3_REGION=@ARCHIVE_S3_REGION@
ARCHIVE_S3_CREDENTIALS_FILE=@ARCHIVE_S3_CREDENTIALS_FILE@
ARCHIVE_S3_PATH_STYLE=@ARCHIVE_S3_PATH_STYLE@
ARCHIVE_S3_SERVER_SIDE_CHECKSUM=@ARCHIVE_S3_SERVER_SIDE_CHECKSUM@
AUTH=@AUTH_MODE@
STUDIO_AUTH_TOKEN_FILE=@STUDIO_AUTH_TOKEN_FILE@
ENGINE_AUTH_TOKEN_FILE=@ENGINE_AUTH_TOKEN_FILE@

TaskServer__MinimumLeaseSeconds=30
TaskServer__MaximumLeaseSeconds=600
TaskServer__MaximumEventPayloadBytes=262144
